@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800&display=swap');

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  font-family: 'Playfair Display', serif;

}

.normalFont {
  font-family: 'Playfair Display', serif;
}

.cursivaFont {
  font-family: 'Dancing Script', cursive;
}

.confeti {
  background-image: url("../src/assets/confeti.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 400px;
  opacity: 0.5;
}

